/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    padding-top: 70px;
}

/* Navbar Styles */
.navbar {
    margin-bottom: 20px;
    background-color: #343a40;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #f8f9fa;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}


/* Section Styles */
section {
    padding: 40px 0;
}

/* Title Styles */
h2, h4, h5 {
    text-align: center;
    color: #343a40;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

h5 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Card Styles */
.card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin-bottom: 10px;
}

.card-body {
    text-align: center;
}

/* Button Styles */
.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Responsive Image */
.img-fluid {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

/* Form Styles */
.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ced4da;
}

/* Footer Styles */
footer {
    padding: 20px;
    background-color: #343a40;
    color: #f8f9fa;
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.9rem;
    }

    section {
        padding: 20px 0;
    }
}

@media (max-width: 576px) {
    h2 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1rem;
    }

    .card-title {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.85rem;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }
}
